build
.gradle
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
out
*.iml
*.log
.directory
node_modules
local.properties
database
.DS_Store
.externalNativeBuild
.database
.gitignore
android
frontend
docs

