build
.gradle
.idea/
out
*.iml
*.log
.directory
node_modules
local.properties

.DS_Store
.externalNativeBuild
.database
database

.env
src/main/resources/assets/.well-known/
app/release/
app/src/main/res/untitled folder/
books/src/main/java/
